.cartBox {
  display: flex;
  flex-direction: column;
  outline: 2px solid blue;
  height: 77vh;
  width: 50vw;
}

.cartList {
  outline: 2px solid red;
}

.closeBtn {
  outline: 2px solid yellow;
}

.newListItem {
  display: inline-block;
  outline: 2px solid magenta;
  height: 4rem;
  width: 3.5rem;
}

.btn {
  width: 5vw;
  height: 3vh;
}

#newItemInput {
  height: 3vh;
  width: 23vw;
}
